{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
            <img src="{% static 'images/Blue_and_White_Circle_Surfing_Club_Logo-removebg-preview.png' %}" alt="Logo">
          <h3>People's DayCare And Elementry School</h3>

        </div>
        <div class = 'bar'></div>
        <div class = 'bar'></div>
        <div class = 'bar'></div>
      </div>
      
        <ul>
             <li><a href="{% url 'home' %}">Home</a></li>
             <li><a href="{% url 'about' %}">About</a></li>
             <li><a href="{% url 'services' %}">Services</a></li>
             <li><a href="{% url 'calendar' %}">Calendar</a></li>
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
    <script src="{% static 'js/navigation.js' %}"></script>
  </body>
</html>